 div.gallery{
    border:4px solid rgb(248, 242, 242);
    padding: 10px;
    background-color: rgb(189, 241, 241);
    float: left;
   
}
 div.desc{
    padding: 15px;
    text-align: center;
}
 div.gallery:hover{
    border: 4px solid black;
}

